@media screen and (min-width:990) {
.main{
    background-size: cover;

}
.btn{
    /* padding-left: calc(45% -20px); */
/* position: absolute;
padding-right: 100px; */
margin: auto;
}
.container2{
    /* flex-wrap: wrap; */
} 
}
@media screen and (min-width:576) {
        .container2{
            position: relative;
            flex-wrap: wrap;
        }
    
}